class {

}

<div class="container mt-3">
  <div class="mx-auto">
    <div class="w-100 d-flex flex-wrap">
      <if(input.recipes.length)>
        <recipe-list recipes=input.recipes />
      </if>
      <else>
        <div class="d-flex">
          <h4 class="text-center">No recipes found</h4>
        </div>
      </else>
    </div>
  </div>
</div>
